.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
canvas {
image-rendering: optimizeQuality;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    /*width: 2560px;
    height: 1320px;*/
    width: 100%;
    height: 100%;
    zoom: 0.25;
}
#table {
background: url("./img/table.png");
background-size: cover;
}
.table-wrapper {
    position: relative;
}
.seat {
position: absolute;
width: 10%;
height: 19.3%;
border-radius: 100px;
background: rgba(0,0,0, 0.5);
z-index: 999;
border: 0.3vw solid rgba(255,255,255,0.5);
display: flex;
align-items: center;
justify-content: center;
color: rgba(255,255,255,0.5);
font-size: calc(1.7vw);
cursor: pointer;
}
.seat:hover {
border: 0.3vw solid rgba(255,255,255,0.9);
color: rgba(255,255,255,0.9);
}
.seat-0 {
top: 70%;
left: 44.8%;
}
.seat-1 {
top: 38%;
left: 11.3%;
}
.seat-2 {
top: 7%;
left: 44.8%;
}
.seat-3 {
top: 38%;
left: 78%;
}
.text-white {
color: #fff;
}